@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700;800&family=Roboto:wght@100;300;400;500;700&family=Wix+Madefor+Display:wght@400;500;600&display=swap');

:root {
    --dark-blue: #073257;
    --light-blue: #0c87b3;
    --bg-home: #cae9f5;
    --white: #f1fafb;
    --gray: #908e8e;
    --border: 0.2rem solid rgba(255, 255, 255, 0.4)
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .3s cubic-bezier(.16, .8, .62, 1.52);
    text-transform: capitalize;
}

*::selection {
    background: var(--dark-blue);
    color: var(--light-blue);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1.3rem;
    display: none;
}


body {
    background: var(--white);
}

section {
    min-height: 100vh;
    padding: 0 7%;
    padding-top: 4rem;
}

.btn {
    border-radius: .25rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    padding: 10px;
    color: #fff;
    -webkit-clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 100% 0, 100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 15px 100%, 0 100%);
    height: 10rem;
    font-size: 1.8rem;
    line-height: 10rem;
    letter-spacing: 1.2px;
    transition: .2s .1s;
    background-image: linear-gradient(90deg, var(--dark-blue), var(--light-blue));
    border: 0 solid;
    overflow: hidden;
}

.btn:hover {
    cursor: pointer;
    transition: all .3s ease-in;
    padding-right: 30px;
    padding-left: 30px;
}

.heading {
    color: var(--dark-blue);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.heading span {
    color: var(--light-blue);
    text-transform: uppercase;
}




header {
    width: 100%;
    background: var(--bg-home);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0.5rem 7%;

}

header.active {
    box-shadow: 0 0.2rem 0.3rem var(--dark-blue);
}

header .logo {
    font-size: 2.5rem;
    color: var(--dark-blue);
    display: flex;
}


header .logo .image {
    width: 6rem;
    height: 6rem;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header .logo .h1 {
    font-size: 2.5rem;
    color: var(--dark-blue);
    margin-top: 2.5rem;
}

header .logo span {
    color: var(--light-blue);
}

header .navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li {
    margin-left: 2.5rem;
}

header .navbar ul li a {
    color: #073257;
    font-size: 2rem;
}

header .navbar ul li a.active,
header .navbar ul li a:hover {
    color: var(--light-blue);
    border-bottom: .2rem solid var(--light-blue);
    padding: .7rem 0;
}

header .navbar.nav-toggle {
    left: 0;
}

#menu {
    font-size: 3rem;
    color: var(--dark-blue);
    cursor: pointer;
    display: none;
}

/* Home */
.home {
    min-height: 100vh;
    background: var(--bg-home);
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-top: 6rem;
    padding-bottom: 4rem;
    text-align: center;
}

.home .content h2 {
    font-size: 3.5rem;
    color: var(--light-blue);
    font-weight: 400;
}

.home .content h1 {
    font-size: 5rem;
    color: var(--dark-blue);
    padding: 0 1rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

}

.home .content p {
    font-size: 2rem;
    color: var(--gray);
    padding: 1rem 25rem;
}

/* download cv button */
.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;
    padding-top: 1rem;
}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: var(--light-blue);
    align-items: center;
}

.button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.button::before {
    position: absolute;
    top: -20px;
    content: "Download Cv";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}

.home .box-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
}

.home .box-container .box {
    height: 20rem;
    width: 25rem;
    background: var(--white);
    text-align: center;
    border: 1rem;
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
    margin: 2rem;
    cursor: pointer;
}

.home .box-container .box i {
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    text-align: center;
    border-radius: 50%;
    color: var(--light-blue);
    background: var(--dark-blue);
    font-size: 3rem;
    margin: 2rem 0;
    transition: 0.2s;
}

.home .box-container .box:hover i {
    color: var(--bg-home);
    background-color: #0da1d6;
}

.home .box-container .box h3 {
    font-size: 2rem;
    color: var(--dark-blue);
    transition: 0.2s;
}

.home .box-container .box:hover h3 {
    color: var(--light-blue);
}

.home .box-container .box p {
    font-size: 1.3rem;
    padding: 0.7rem 2rem;
    color: var(--gray);
}

.home::before {
    content: '';
    position: absolute;
    bottom: -75rem;
    left: 50%;
    transform: translateX(-50%);
    border: 70vh solid var(--light-blue);
    width: 120%;
    border-radius: 50%;
    z-index: -1;
}

/* side icons */
.social {
    position: absolute;
    top: 20rem;
    left: 0rem;
}

.social .social-ul {
    padding: 0px;
    transform: translate(-270px, 0);
}

.social .social-ul li {
    display: block;
    margin: 5px;
    background: var(--dark-blue);
    width: 300px;
    text-align: right;
    padding: 0.5rem;
    border-radius: 0 30px 30px 0;
    transition: all 1s;
}

.social .social-ul li:hover {
    transform: translate(110px, 0);
    background: var(--light-blue);
}

.social .social-ul li a {
    font-size: 1.8rem;
    text-decoration: none;
    color: #000;
}

.social .social-ul li:hover a {
    color: #000;
    font-size: 1.8rem;
}

.social .social-ul li:hover i {
    color: #fff;
    background: rgba(0, 0, 0, 0.36);
    transform: rotate(360deg);
    transition: all 1s;
}

.social .social-ul li i {
    margin-left: 10px;
    color: #000;
    /* margin-top: 10px; */
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background: #ffffff;
    transform: rotate(0deg);
}

/* About Styling code */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-home);
}

.about .box-container {
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 3rem 7%;
}

.about .box-container .image {
    flex: 1 1 30rem;
    padding: 2rem 4rem;

}

.card {
    width: 280px;
    height: 320px;
    position: sticky;
    cursor: pointer;
}

.card::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background: none;
    top: 0;
    left: 50px;
    transform: translate(-15px, -15px);
    border-top: 5px solid #0da1d6;
    border-left: 5px solid #0da1d6;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}


.card::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 30%;
    background: none;
    bottom: 0;
    right: -50px;
    transform: translate(15px, 15px);
    border-bottom: 5px solid #0da1d6;
    border-right: 5px solid #0da1d6;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.card:hover::after,
.card:hover::before {
    width: calc(100% + 30px);
    height: calc(100% + 30px);
}

.card .image-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
    margin-left: 50px;
}

.card .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.card:hover .image-box img {
    transform: scale(1.1);
}


.about .box-container .content {
    flex: 1 1 30rem;
}

.about .box-container .content h3 {
    font-size: 3rem !important;
    color: var(--white);
    font-weight: 300;
    text-transform: uppercase;

    /* margin-top: -8rem; */
}

.about .box-container .content h3 span {
    color: var(--bg-home);
}

.about .box-container .content h2 {
    font-size: 4rem;
    color: var(--white);
    font-weight: 600;
    /* margin-top: -8rem; */
}

.about .box-container .content h2 span {
    color: var(--light-blue);
}

.about .box-container .content p {
    font-size: 1.8rem;
    color: var(--bg-home);
    font-weight: 400;

}


.about .box-container .content p:nth-of-type(1) {
    /* font-size: 1.8rem;
    color: var(--gray); */
    margin-top: 1rem;

}

.about .box-container .content .span2 {
    color: var(--light-blue);
    font-size: 1.8rem;
}

/* Skills Styling */
.timeline {
    --color: rgba(30, 30, 30);
    /* --bgColor: rgba(245, 245, 245); */
    min-height: 100vh;
    display: grid;
    align-content: center;
    gap: 2rem;
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    color: var(--color);
    background: var(--bg-home);
}


.timeline h3 {
    text-align: center;
    font-size: 4rem;
    color: var(--dark-blue);
}

.timeline ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: 80%;
    margin-inline: auto;
}




.timeline ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: rgb(225, 225, 225);
    border-radius: calc(var(--line-w) / 2);
}

.timeline ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
}

.timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.timeline ul li .date {
    --dateH: 4rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);

    text-align: center;
    background-color: var(--accent-color);

    color: white;
    font-size: 2rem;
    font-weight: 700;

    display: grid;
    place-content: center;
    position: relative;

    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

.timeline ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;

    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
}

.timeline ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bgColor);
    border: 0.3rem solid var(--accent-color);
    border-radius: 50%;
    top: 50%;

    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

.timeline ul li .title,
.timeline ul li .descr {
    background: var(--bgColor);
    position: relative;
    padding-inline: 1.5rem;
    font-size: 1.5rem;
}


.timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--light-blue);
}

.timeline ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
    font-size: 1.6rem;
}

.timeline ul li .title::before,
.timeline ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(0, 0, 0, 0.5);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
}

.timeline ul li .title::before {
    bottom: calc(100% + 0.125rem);
}

.timeline ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
}

/* Skills */


.skill {
    background: var(--bg-home);
    /* margin-top: 6rem; */
}

.container-skill {
    max-width: 1170px;
    margin: auto;
}

.tittle {
    text-align: center;
    font-size: 4rem;
    color: var(--dark-blue);
}

.tittle span {
    color: var(--gray)
}


.skill .content-skill {
    width: 100%;
    color: var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}


.skill .content-skill .box-skill {
    flex: 1 1 30rem;
    padding: 15px;
    /* background: var(--white); */

}

.skill .content-skill .box-skill .inner-skill {
    padding: 30px;
    text-align: center;
    position: relative;
    background: var(--white);
}

.skill .content-skill .box-skill .inner-skill::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: all 0.8s ease;
}

.skill .content-skill .box-skill .inner-skill::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-right: 3px solid transparent;
    transition: all 0.8s ease;
}

.skill .content-skill .box-skill .inner-skill:hover::after,
.skill .content-skill .box-skill .inner-skill:hover::before {
    border-color: #0da1d6;
    width: 100%;
    height: 100%;
}

.skill .content-skill .box-skill .inner-skill img {
    width: 10rem;
    transition: all 0.3s linear;
}

.skill .content-skill .box-skill .inner-skill:hover img {
    transform: scale(1.2);
}

.skill .content-skill .box-skill:hover .inner-skill i,
.skill .content-skill .box-skill:hover .inner-skill h3 {
    color: #0da1d6;
}

.skill .content-skill .box-skill .inner-skill h3 {
    font-size: 30px;
    font-weight: normal;
    color: var(--dark-blue);
    margin: 20px 0;
    transition: color 0.8s ease;
}

.skill .content-skill .box-skill .inner-skill p {
    font-size: 15px;
    line-height: 24px;
    color: var(--gray);
}


/* portfolio */


.portfolio {
    background: var(--off-white);
    width: 100%;
    /* min-height: 100vh; */

}

/* .portfolio_container {
    background: var(--off-white);
    display: flex;
    justify-content: center;
}

.port_container {
    width: 1000px;
} */


/* .portfolio .tittle {
    padding-bottom: 4rem;
} */

.btn1 {
    padding: 1.5rem 3rem;
    background: var(--dark-blue);
    border: none;
    color: #fff;
    margin: 20px auto;
    display: block;
    font-size: 1.3rem;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.btn1:hover {
    letter-spacing: 0.2rem;
}

.portfolio {
    padding: 2rem 7%;
}

.swiper {
    width: 100%;
    height: 250px;
}

.swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3.5rem;
    margin-top: 4rem;
}

/* .portfolio .box-contain {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;

} */

.portfolio .box-contain .box {
    flex: 1 1 40rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.portfolio .box-contain .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    position: relative;
    z-index: 1;
}


.portfolio .box-contain .box:hover img {
    height: 80%;
    width: 90%;
}


.portfolio .box-contain .box h3 {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 2.5rem;
    color: #333;
    text-transform: uppercase;

}

.portfolio .box-contain .box .icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.portfolio .box-contain .box .icons a {
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    background: #eee;
    color: #333;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
}


.portfolio .box-contain .box .icons a:hover {
    background: #e38428;
    color: #fff;
}

/* 
@media(max-width:768px) {
    .portfolio {
        width: 50rem;
        min-height: 100vh;
    }

    .portfolio_container {
        padding: 2rem 7%;
    }

    .portfolio .tittle {
        margin-left: 25rem;
    }


    .btn1 {
        margin-left: 25rem;
    }
}


@media(max-width:600px) {
    .portfolio {
        width: 30rem;
        min-height: 100vh;
    }

    .portfolio_container {
        padding: 2rem 4%;
    }

    .portfolio .tittle {
        margin-left: 18rem;
    }

    .col .port_box {
        height: 350px;
        width: 300px;
        margin-left: 20rem !important;
    }

    .btn1 {
        margin-left: 25rem;
    }
}


@media(max-width:440px) {
    .portfolio {
        width: 30rem;
        min-height: 100vh;
    }

    .portfolio_container {
        padding: 2rem 1%;
    }

    .portfolio .tittle {
        margin-left: 10rem;
    }

    .col .port_box {
        height: 350px;
        width: 250px;
        margin-left: 15rem !important;
    }

    .btn1 {
        margin-left: 25rem;
    }
}


@media(max-width:340px) {
    .portfolio {
        width: 20rem;
        min-height: 100vh;
    }

    .portfolio .tittle {
        margin-left: 8rem;
    }

    .col .port_box {
        height: 350px;
        width: 200px;
        margin-left: 18rem !important;
    }

    .btn1 {
        margin-left: 25rem;
    }
} */


@media (min-width: 40rem) {
    .timeline ul {
        grid-template-columns: 1fr var(--line-w) 1fr;
    }

    .timeline ul::before {
        grid-column: 2;
    }

    .timeline ul li:nth-child(odd) {
        grid-column: 1;
    }

    .timeline ul li:nth-child(even) {
        grid-column: 3;
    }

    .timeline ul li:nth-child(2) {
        grid-row: 2/4;
    }

    .timeline ul li:nth-child(odd) .date::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%);
        left: 0;
    }

    .timeline ul li:nth-child(odd) .date::after {
        transform: translate(-50%, -50%);
        left: calc(100% + var(--col-gap) + var(--line-w) / 2);
    }

    .timeline ul li:nth-child(odd) .date {
        border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
    }
}

@media (max-width:400px) {}

.timeline .credits {
    margin-top: 1rem;
    text-align: right;
}

.timeline .credits a {
    color: var(--color);
}

.timeline {
    padding: 1rem;
}

.timeline ul {
    column-gap: 1rem;
}

.timeline ul li .descr {
    padding-inline: 1rem;
}

@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1.5rem 2rem;
    }

    .navbar a {
        font-size: 1.8rem;
    }

}


@media (max-width:768px) {

    #menu {
        display: block;
    }

    header .navbar {
        position: fixed;
        top: 8rem;
        left: -120%;
        height: 100%;
        width: 100%;
        background: var(--bg-home);
        border-top: .2rem solid rgba(0, 0, 0, .1);
    }

    header .navbar ul {
        flex-flow: column;
        padding: 2rem;
    }

    header .navbar ul li {
        text-align: center;
        width: 50%;
        margin: 1rem 0;
    }

    header .navbar ul li a {
        display: block;
        padding: 1rem;
    }

    header .navbar ul li a.active,
    header .navbar ul li a:hover {
        padding: 1rem;
        background: var(--light-blue);
        color: var(--dark-blue);
        border: none;
        border-radius: 5rem;
    }

    .fa-times {
        transform: rotate(180deg);
    }

    .home .content p {
        padding: 1.5rem 2rem;
    }

    .home::before {
        display: none;
    }
}

@media(max-width:690px) {
    .about {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .about .box-container .image {
        margin-left: 1.6rem;
    }

    .about .box-container .content {
        margin-top: 4rem;
    }
}


@media (max-width:500px) {

    html {
        font-size: 50%;
    }

    section {
        padding: 0 3%;
        padding-top: 9rem;
    }

    .about .box-container .image {
        padding: 1rem 2rem;
    }

}

@media(max-width:430px) {

    .social {
        left: -1rem;
    }

    .social ul li i {
        width: 25px;
        height: 25px;
        font-size: 12px;

    }

    .about .box-container .image {
        padding-top: 5rem;
        /* margin-left: 10rem; */

    }

    .card {
        margin-left: -5rem;
        width: 250px;
    }

    .about .box-container {
        padding: 1rem 4%;
    }

}

@media (max-width:340px) {

    .card {
        margin-left: -8.5rem;
        width: 230px;
    }
}

@media (max-width:292px) {

    .card {
        margin-left: -8.5rem;
        width: 210px;
    }
}