.container {
  /* display: -webkit-box; */
  display: flex;
  justify-content: space-around;
  /* -webkit-box-align: center; */
  align-items: center;
  /* margin-top: 15px; */
  /* background-color: #333; */
  position: absolute;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 1000;
}

.logo {
  order: 1;
  line-height: 32px;
  padding: 10px;
}

.item {
  color: #333;
  text-decoration: none;
  padding: 24px;
  font-size: 2rem;

}



.item:hover {
  color: #2568fb;

}

.item:nth-of-type(n+4) {
  -webkit-box-ordinal-group: 3;
  order: 2;
}

#menu {
  font-size: 3rem;
  color: var(--black);
  cursor: pointer;
  display: none;
  position: absolute;
  right: 2rem;
  top: 6rem;
}


@media all and (max-width:965px) {
  .item {
    font-size: 2rem;
  }
}

@media all and (max-width: 760px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
  }

  #menu {
    display: block;
  }

  .item {
    display: none;

  }

  .nav-toggle {
    text-align: center;
    background: #333 !important;
    color: #fff;
    transition: all 0.4s ease;
    display: block;
  }


  .logo {
    -webkit-box-ordinal-group: 1;
    order: 0;
    text-align: start;
    width: 100px;
    margin-left: 20px;

  }

  /* .nav-toggle {
    display: none;
  } */



}

.rt-container {
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.rt-row:before,
.rt-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.rt-row:after {
  clear: both;
}

[class^="col-rt-"] {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding: 0 15px;
  min-height: 1px;
  position: relative;
}


@media (min-width: 768px) {
  .rt-container {
    width: 750px;
  }

  [class^="col-rt-"] {
    float: left;
    width: 49.9999999999%;
  }

  .col-rt-6,
  .col-rt-12 {
    width: 100%;
  }

}

@media (min-width: 1200px) {
  .rt-container {
    width: 1170px;
  }

  .col-rt-1 {
    width: 16.6%;
  }

  .col-rt-2 {
    width: 30.33%;
  }

  .col-rt-3 {
    width: 50%;
  }

  .col-rt-4 {
    width: 67.664%;
  }

  .col-rt-5 {
    width: 83.33%;
  }


}